<section class="contact-section">
    <div class="container">
        <div class="titles">
            <h1>Contact Us</h1>
        </div>
        <h3>We're happy to help you with the car of your dreams</h3>

        <div class="contact-method">
            <h4>Email</h4>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="mailto:info@example.com">
                        <i class="bi bi-envelope"></i>
                        <span>info&#64;example.com</span>
                    </a>
                </li>
            </ul>

            <h4>Phone</h4>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="tel:+123456789">
                        <i class="bi bi-telephone"></i>
                        <span>+1 (234) 567-89</span>
                    </a>
                </li>
            </ul>

            <h4>Social Media</h4>
            <div class="social-media">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>