<section>
    <div class="container">
        <div class="Titules">
            <h1>Contact Us</h1>
            <br>
        </div>
        <h3>We're happy to help you with the car of your dream</h3>
        <br><br>
        <li class="list-inline-item">
            <a href="mailto:correo@example.com"><i class="bi bi-envelope"></i>
                <h2>Correo</h2>
            </a>
        </li>
        <h4>Help Center</h4>
        <br>
        <li class="list-inline-item">
            <a href="tel:+123456789"><i class="bi bi-telephone"></i>
                <h2>809-322-4243</h2>
            </a>
        </li>
        <h4>Drop Us A Call</h4>
        <br>

        <h4>Or follow us to stay updated</h4>
        <div class="redes">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com"><i class="bi bi-facebook "></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com"><i class="bi bi-instagram "></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.twitter.com"><i class="bi bi-twitter "></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com"><i class="bi bi-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>