.container {

    max-width: 550px;


    mat-card {
        border: none;
        padding: 20px;
        cursor: pointer;

        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        /* por ejemplo */


        mat-card-header {

            mat-card-title {
                font-size: 20px;
            }

            margin-bottom: 10px;
        }

        img {
            padding: 5px;
            border-radius: 8px;
            transition: 0.3s;

            &:hover {
                padding: 1px;
            }

        }
    }

    img {
        width: 500px;
        height: 300px;

        @media(max-width: 750px) {
            // width: 100%;
            height: 600px;
        }
    }
}
