<div class="container">
  <mat-card *ngIf="vehicle" routerLink="/vehicles/{{vehicle.id}}">
    <div class="image-container">
      <img mat-card-image src="{{vehicle.pictureUrl}}" alt="{{vehicle.vehicleName}}">
    </div>
    <mat-card-header class="header">
      <mat-card-title>
        Corona Queens, United States
      </mat-card-title>
      <mat-card-subtitle class="vehicle">{{vehicle.vehicleName}} {{vehicle.year}}</mat-card-subtitle>
      <mat-card-subtitle>$ {{vehicle.rentalPrice}} <span>per day</span></mat-card-subtitle>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>