table {
    border-collapse: separate;
    border-spacing: 0px;
    min-width: max-content;
}

table.table-hover {

    thead th {
        position: sticky;
        font-weight: 500;
    }

    tbody tr {
        background-color: #f3f3f3;
        cursor: pointer;

        img {
            width: 60px;
        }
    }

    td {
        font-weight: 400;

        &.available {
            color: #008000;
        }

        &.rented {
            color: #FF0000;
        }

        &.reserved {
            color: #FFD700;
        }

        button {
            background-color: #fff;
            border: 1px solid rgba(84, 84, 84, 0.5);
            border-radius: 8px;
            font-weight: 400;

            &:hover {
                background-color: #e5e5e5;
            }
        }
    }
}