<div *ngIf="showPopup" class="popup-overlay" (click)="closePopup()">
    <div class="popup-content" (click)="stopPropagation($event)">
        <div class="box">
            <h5 class="">Vehicle Type Name</h5>
            <input type="text" [(ngModel)]="vehicleTypeFormValues.vehicleTypeName" placeholder="Vehicle Type Name">
        </div>
        <div class="box" style="display: flex; gap: 5px;">
            <button class="save" (click)="saveVehicleType()">Save</button>
            <button class="cancel" (click)="closePopup()">Cancel</button>
        </div>
    </div>
</div>