<div class="content d-flex justify-content-center mt-5">
    <div class="content-cover col-6">
        <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()" class="update-user-form">
            <h2>Update User</h2>

            <div class="mb-3">
                <label for="displayName" class="form-label">Display Name</label>
                <input type="text" class="form-control" id="displayName" formControlName="displayName">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>

            <button type="submit" [disabled]="updateUserForm.invalid" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>