<div class="back container">
    <i routerLink="/reservations" class="bi bi-arrow-left"></i>
</div>

<div class="container">
    <div class="cards" *ngIf="reservation">
        <div class="box reservation">
            <h2>Reservation Information</h2>
            <div>
                <div class="body">
                    <div class="info vehicle">
                        <p>Reservation Number</p>
                        <p>Start Date</p>
                        <p>End Date</p>
                        <p>Days</p>
                        <p>Vehicle Rental Price</p>
                        <p>Customer Name</p>
                        <p>Vehicle</p>
                        <p>Insurance</p>
                        <hr>
                        <p>Total Rental Cost</p>
                    </div>
                    <div class="data">
                        <p>{{reservation.reservationNumber}}</p>
                        <p>{{ reservation.startDate | date }}</p>
                        <p>{{ reservation.endDate | date }}</p>
                        <p>{{ reservation.days }} days</p>
                        <p>{{reservation.rentalCost | currency}}</p>
                        <p>{{reservation.customer}}</p>
                        <p>{{reservation.vehicle}}</p>
                        <p>{{reservation.insurance}}</p>
                        <hr>
                        <p>{{ reservation.rentalCost | currency}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>