<div class="back">
    <i routerLink="/invoices" class="bi bi-arrow-left"></i>
</div>

<div class="container">
    <div *ngIf="invoice">
        <div class="info info">
            <h2>Total Invoice</h2>
            <div class="body">
                <div class="info">
                    <p>Date</p>
                    <p>Customer Name</p>
                    <p>Reservation Number</p>
                    <p>Payment Type</p>
                    <p>Total</p>
                </div>
                <div class="data">
                    <p>{{ invoice.date | date }}</p>
                    <p>{{ invoice.customer }}</p>
                    <p>{{ invoice.reservation }}</p>
                    <p>{{ invoice.paymentType }}</p>
                    <p>{{ invoice.totalAmount | currency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="print-button" (click)="printInvoice()">Print Invoice</button>
