.dashboard {
    padding: 20px;

    .dashboard-content {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.264);
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;

        .data-table-customer {
            margin-top: 35px;
        }

        .summary {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .summary-item {
                width: 250px;
                display: flex;
                align-items: center;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease;
                cursor: pointer;

                &:hover {
                    transform: translateY(-5px);
                }

                .icon {
                    font-size: 32px;
                    margin-right: 15px;
                    color: #DA5B00;
                }

                .details {
                    p {
                        font-size: 18px;
                        color: #333333;
                        margin-bottom: 5px;
                    }

                    span {
                        font-size: 24px;
                        font-weight: bold;
                        color: #333333;
                    }
                }
            }
        }

        .data-section {
            grid-column: span 2;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .data-table , .data-table-customer{
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

            h2 {
                font-size: 24px;
                color: #333333;
                padding: 20px;
                border-bottom: 2px solid #f3f3f3;
            }

            .table-wrapper {
                overflow-x: auto;

                table {
                    width: 100%;
                    border-collapse: collapse;

                    thead th {
                        font-size: 16px;
                        font-weight: bold;
                        color: #333333;
                        text-align: left;
                        padding: 12px;
                        border-bottom: 2px solid #f3f3f3;
                    }

                    tbody tr {
                        font-size: 16px;
                        color: #333333;
                        border-bottom: 1px solid #f3f3f3;

                        td {
                            padding: 12px;
                        }

                        img {
                            width: 70px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .dashboard-content {
            grid-template-columns: 1fr;
        }
    }
}
