
<section class="container">
  <div class="vehicle-edit">
    <div class="tab-panel">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Edit Vehicle Info">
          <div class="vehicle-info">
            <app-edit-vehicle-form 
            [vehicle]="vehicleFormValues" 
            [brands]="brands"
            [models]="models"
            [fuels]="fuels"
            [statuses]="statuses"
            [vehiclesType]="vehiclesType"
            ></app-edit-vehicle-form>
          </div>
        </mat-tab>
        <mat-tab label="Edit Photos">
          <app-edit-vehicle-photos [vehicle]="vehicle"></app-edit-vehicle-photos>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>

