section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    app-breadcrumb-admin {
        margin: 5px 0;
    }
}

.vehicle-edit {
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 0 30px 0;

    .vehicle-info {
        margin-top: 10px;
    }
}