<!-- <section class="product-edit mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <form #vehicleForm="ngForm" (ngSubmit)="onSubmit(vehicleForm.valid && vehicleForm.value)">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="vehicleName">Vehicle Name</label>
                <input
                  [ngClass]="{'is-invalid': vehicleName.invalid && (vehicleName.dirty || vehicleName.touched)}"
                  required
                  type="text"
                  class="form-control"
                  id="vehicleName"
                  placeholder="Vehicle Name"
                  name="vehicleName"
                  #vehicleName="ngModel"
                  [(ngModel)]="vehicle.vehicleName"
                >
                <div *ngIf="vehicleName.invalid && (vehicleName.dirty || vehicleName.touched)" class="invalid-feedback">
                    <div *ngIf="vehicleName.errors?.['required']">
                        Product Name is required
                      </div>                      
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="rentalPrice">Price</label>
                <input
                  [ngClass]="{'is-invalid': rentalPrice.invalid && (rentalPrice.dirty || rentalPrice.touched)}"
                  required
                  type="text"
                  class="form-control"
                  id="rentalPrice"
                  placeholder="Price"
                  currencyMask
                  name="rentalPrice"
                  #rentalPrice="ngModel"
                  pattern="^\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(\.[0-9][0-9])?$"
                  [min]="0.01"
                  [ngModel]="+vehicle.rentalPrice | number: '1.2-2'"
                  (ngModelChange)="updatePrice(+$event)"
                >
                <div *ngIf="rentalPrice.invalid && (rentalPrice.dirty || rentalPrice.touched)" class="invalid-feedback">
                  <div *ngIf="rentalPrice.errors?.['required']">
                    Vehicle price is required
                  </div>
                  <div *ngIf="rentalPrice.errors?.['pattern']">
                    Vehicle price needs to be decimal value
                  </div>
                  <div *ngIf="rentalPrice.errors?.['min']">
                    Vehicle price must be greater than zero
                  </div>
                </div>
              </div>
            </div>
            
            
              <div class="form-group col-md-6">
                <label for="year">Vehicle Year</label>
                <input
                  [ngClass]="{'is-invalid': year.invalid && (year.dirty || year.touched)}"
                  type="number"
                  required
                  #year="ngModel"
                  class="form-control"
                  id="year"
                  [(ngModel)]="vehicle.year"
                  name="year">
                <div *ngIf="year.invalid && (year.dirty || year.touched)" class="invalid-feedback">
                  <div *ngIf="year.errors?.['required']">
                    Vehicle year is required
                  </div>
                </div>
              </div>
            
              <div class="form-group col-md-6">
                <label for="vin">VIN (Vehicle Identification Number)</label>
                <input
                  [ngClass]="{'is-invalid': vin.invalid && (vin.dirty || vin.touched)}"
                  type="text"
                  required
                  #vin="ngModel"
                  class="form-control"
                  id="vin"
                  [(ngModel)]="vehicle.vin"
                  name="vin">
                <div *ngIf="vin.invalid && (vin.dirty || vin.touched)" class="invalid-feedback">
                  <div *ngIf="vin.errors?.['required']">
                    VIN is required
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="passengers">Number of Passengers</label>
                <input
                  [ngClass]="{'is-invalid': passengers.invalid && (passengers.dirty || passengers.touched)}"
                  type="number"
                  required
                  #passengers="ngModel"
                  class="form-control"
                  id="passengers"
                  [(ngModel)]="vehicle.passengers"
                  name="passengers">
                <div *ngIf="passengers.invalid && (passengers.dirty || passengers.touched)" class="invalid-feedback">
                  <div *ngIf="passengers.errors?.['required']">
                    Number of passengers is required
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="transmission">Transmission</label>
                <select
                  [ngClass]="{'is-invalid': transmission.invalid && (transmission.dirty || transmission.touched)}"
                  required
                  #transmission="ngModel"
                  class="form-control"
                  id="transmission"
                  [(ngModel)]="vehicle.transmission"
                  name="transmission">
                  <option value="" disabled>Select transmission</option>
                  <option value="Automatic">Automatic</option>
                  <option value="Manual">Manual</option>
                </select>
                <div *ngIf="transmission.invalid && (transmission.dirty || transmission.touched)" class="invalid-feedback">
                  <div *ngIf="transmission.errors?.['required']">
                    Transmission is required
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="doors">Number of Doors</label>
                <input
                  [ngClass]="{'is-invalid': doors.invalid && (doors.dirty || doors.touched)}"
                  type="number"
                  required
                  #doors="ngModel"
                  class="form-control"
                  id="doors"
                  [(ngModel)]="vehicle.doors"
                  name="doors">
                <div *ngIf="doors.invalid && (doors.dirty || doors.touched)" class="invalid-feedback">
                  <div *ngIf="doors.errors?.['required']">
                    Number of doors is required
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="color">Color</label>
                <input
                  [ngClass]="{'is-invalid': color.invalid && (color.dirty || color.touched)}"
                  type="text"
                  required
                  #color="ngModel"
                  class="form-control"
                  id="color"
                  [(ngModel)]="vehicle.color"
                  name="color">
                <div *ngIf="color.invalid && (color.dirty || color.touched)" class="invalid-feedback">
                  <div *ngIf="color.errors?.['required']">
                    Color is required
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="fuelConsumption">Fuel Consumption (in MPG)</label>
                <input
                  [ngClass]="{'is-invalid': fuelConsumption.invalid && (fuelConsumption.dirty || fuelConsumption.touched)}"
                  type="number"
                  required
                  #fuelConsumption="ngModel"
                  class="form-control"
                  id="fuelConsumption"
                  [(ngModel)]="vehicle.fuelConsumption"
                  name="fuelConsumption">
                <div *ngIf="fuelConsumption.invalid && (fuelConsumption.dirty || fuelConsumption.touched)" class="invalid-feedback">
                  <div *ngIf="fuelConsumption.errors?.['required']">
                    Fuel consumption is required
                  </div>
                </div>
              </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="brand">Brand</label>
                <select id="brand" class="form-control" name="brandId" [(ngModel)]="vehicle.brandId" required>
                  <option *ngFor="let brand of brands"
                          [selected]="vehicle.brandId === brand.id"
                          [ngValue]="brand.id">{{brand.brandName}}</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="model">Model</label>
                <select id="model" class="form-control" name="modelId" [(ngModel)]="vehicle.modelId" required>
                  <option *ngFor="let model of models"
                          [selected]="vehicle.modelId === model.id"
                          [ngValue]="model.id">{{model.modelName}}</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="fuel">Fuel</label>
                <select id="fuel" class="form-control" name="fuelId" [(ngModel)]="vehicle.fuelId" required>
                  <option *ngFor="let fuel of fuels"
                          [selected]="vehicle.fuelId === fuel.id"
                          [ngValue]="fuel.id">{{fuel.fuelName}}</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="status">Status</label>
                <select id="status" class="form-control" name="statusId" [(ngModel)]="vehicle.statusId" required>
                  <option *ngFor="let status of statuses"
                          [selected]="vehicle.statusId === status.id"
                          [ngValue]="status.id">{{status.statusName}}</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="vehicleType">Vehicle Type</label>
                <select id="vehicleType" class="form-control" name="vehicleTypeId" [(ngModel)]="vehicle.vehicleTypeId" required>
                  <option *ngFor="let vehicleType of vehiclesType"
                          [selected]="vehicle.vehicleTypeId === vehicleType.id"
                          [ngValue]="vehicleType.id">{{vehicleType.vehicleTypeName}}</option>
                </select>
              </div>



            </div>
            <button [disabled]="!vehicleForm.valid" type="submit" class="btn btn-primary my-3 float-right">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section> -->