section {
    margin: 50px;
    // max-width: 1000px;
    display: flex;
    justify-content: center;

    .content {


        .card {
            max-width: 1000px;
        }

        mat-card-content {
            width: 500px;
        }
    }
}

mat-card-header {
    margin-bottom: 20px;
    font-size: 20px;
}