 <section class="content">
    <div class="content-cover">
        <div class="title">
            <h1>Reservation List</h1>
            <div class="actions">
                <button [routerLink]="['/admin-invoice/create']" class="new-vehicle">New Reservation</button>
            </div>
        </div>
        <app-paging-header
              [totalCount]="totalCount"
              [pageSize]="this.invoiceParams.pageSize"
              [pageNumber]="this.invoiceParams.pageNumber"
        ></app-paging-header>

        <div class="table-wrapper">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Reservation N.</th>
                        <th>Customer Name</th>
                        <th>Payment Type</th>
                        <th>Total Costs</th>
                        <th>Edit</th>
                        <th *ngIf="(isAdmin$ | async)">Delete</th>
                    </tr>
                </thead>
                <tbody *ngFor="let invoice of invoices">
                    <tr *ngIf="invoice">
                        <td>{{ invoice.date | date }}</td>
                        <td>{{ invoice.reservation }}</td>
                        <td>{{ invoice.customer }}</td>
                        <td>{{ invoice.paymentType }}</td>
                        <td>{{ invoice.totalAmount | currency}}</td>
                        <td><button [routerLink]="['edit', invoice.id]">Edit</button></td>
                        <td><button *ngIf="(isAdmin$ | async)" (click)="deleteInvoice(invoice.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
            <app-pager
              [pageSize]="invoiceParams.pageSize"
              [pageNumber]="invoiceParams.pageNumber"
              [totalCount]="totalCount"
              (pageChanged)="onPageChanged($event)"
            ></app-pager>
        </div>

    </div>

</section>