
<form #reservationForm="ngForm" (ngSubmit)="onSubmit(reservationForm.valid && reservationForm.value)">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="startDate">Start Date</label>
      <input type="datetime"
        name="startDate"
        id="datetime"
        required
        class="form-control"
        [ngClass]="{'is-invalid': startDate.invalid && (startDate.dirty || startDate.touched)}"
        #startDate="ngModel"
        [(ngModel)]="reservation.startDate"        
        >
        <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="invalid-feedback">
          <div *ngIf="startDate.errors?.['required']" >
            Reservation start date is required
          </div>
        </div>
    </div>
    <div class="form-group col-md-6">
      <label for="endDate">End Date</label>
      <input type="datetime"
        [ngClass]="{'is-invalid': endDate.invalid && (endDate.dirty || endDate.touched)}"
        name="endDate"
        id="endDate"
        required
        class="form-control"
        #endDate="ngModel"
        [(ngModel)]="reservation.endDate"        
        >
        <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="invalid-feedback">
          <div *ngIf="endDate.errors?.['required']" >
            Reservation end date is required
          </div>
        </div>
    </div>
    <div class="form-group col-md-6">
      <label for="days">Days</label>
      <input type="number"
        [ngClass]="{'is-invalid': days.invalid && (days.dirty || days.touched)}"
        name="days"
        id="days"
        placeholder="Days"
        required
        class="form-control"
        #days="ngModel"
        [(ngModel)]="reservation.days"        
        >
        <div *ngIf="days.invalid && (days.dirty || days.touched)" class="invalid-feedback">
          <div *ngIf="days.errors?.['required']" >
            Reservation end date is required
          </div>
        </div>
    </div>
    <div class="form-group col-md-6">
      <label for="rentalCost">RentalCost</label>
      <input 
      type="text"
      [ngClass]="{'is-invalid': rentalCost.invalid && (rentalCost.dirty || rentalCost.touched)}"
      required
      class="form-control"
      id="rentalCost"
      placeholder="Rental Cost"
      currencyMask
      name="rentalCost"
      #rentalCost="ngModel"
      pattern="^\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(\.[0-9][0-9])?$"
      [min]="0.01"
      [ngModel]="+reservation.rentalCost | number: '1.2-2'"
      (ngModelChange)="updatePrice(+$event)"
      >
      <div *ngIf="rentalCost.invalid && (rentalCost.dirty || rentalCost.touched)" class="invalid-feedback">
        <div *ngIf="rentalCost.errors?.['required']">
          Reservation rental cost is required
        </div>
        <div *ngIf="rentalCost.errors?.['pattern']">
          Reservation rental cost needs to be decimal value
        </div>
        <div *ngIf="rentalCost.errors?.['min']">
          Reservation rental cost must be greater than zero
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="customer">Customer</label>
      <select 
          name="customerId" 
          id="customer" 
          class="form-control"
          [(ngModel)]="reservation.customerId"
          required
          >
          <option
          *ngFor="let customer of customers"
          [selected]="reservation.customerId === customer.id"
          [ngValue]="customer.id" 
          >{{customer.customerName}}</option>
        </select>
    </div>
    <div class="form-group col-md-6">
      <label for="vehicle">Vehicle</label>
      <select 
          name="vehicleId" 
          id="vehicle" 
          class="form-control"
          [(ngModel)]="reservation.vehicleId"
          required
          >
          <option
          *ngFor="let vehicle of vehicles"
          [selected]="reservation.vehicleId === vehicle.id"
          [ngValue]="vehicle.id" 
          >{{vehicle.vehicleName}}</option>
        </select>
    </div>
    <div class="form-group col-md-6">
      <label for="insurance">Insurance</label>
      <select 
          name="insuranceId" 
          id="insurance" 
          class="form-control"
          [(ngModel)]="reservation.insuranceId"
          required
          >
          <option
          *ngFor="let insurance of insurances"
          [selected]="reservation.vehicleId === insurance.id"
          [ngValue]="insurance.id" 
          >{{insurance.insuranceName}}</option>
        </select>
    </div>
  </div>
  <button [disabled]="!reservationForm.valid" type="submit" class="btn btn-primary my-3 float-right">Submit</button>

</form>
