<form #reservationForm="ngForm" (ngSubmit)="onSubmit(reservationForm.valid && reservationForm.value)">
  <div class="">
    <div class="form-group col-md-6">
      <label for="startDate">Start Date</label>
      <input type="datetime-local"
        name="startDate"
        id="startDate"
        required
        class="form-control"
        [ngClass]="{'is-invalid': startDate.invalid && (startDate.dirty || startDate.touched)}"
        #startDate="ngModel"
        [(ngModel)]="reservation.startDate"        
        >
        <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="invalid-feedback">
          <div *ngIf="startDate.errors?.['required']">
            Reservation start date is required
          </div>
        </div>
    </div>
    <div class="form-group col-md-6">
      <label for="endDate">End Date</label>
      <input type="datetime-local"
        name="endDate"
        id="endDate"
        required
        class="form-control"
        [ngClass]="{'is-invalid': endDate.invalid && (endDate.dirty || endDate.touched)}"
        #endDate="ngModel"
        [(ngModel)]="reservation.endDate"
        >
        <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="invalid-feedback">
          <div *ngIf="endDate.errors?.['required']">
            Reservation end date is required
          </div>
        </div>
    </div>
    <div class="section-select">
      <div class="form-group">
        <label for="insurance">Insurance</label>
        <select 
          name="insuranceId" 
          id="insurance" 
          class="form-control"
          [(ngModel)]="reservation.insuranceId"
          required
        >
          <option
            *ngFor="let insurance of insurances"
            [ngValue]="insurance.id" 
          >{{insurance.insuranceName}}</option>
        </select>
      </div>
    </div>
  </div>
    <button [disabled]="!reservationForm.valid" type="submit" class="btn btn-primary my-3 float-right">Submit</button>
</form>

