<section class="content">
    <div class="content-cover">
        <div class="title">
            <h1>Reservation List</h1>
            <div class="actions">
                <button [routerLink]="['/admin-reservation/create-reservation']" class="new-vehicle">New Reservation</button>
            </div>
        </div>
        <app-paging-header
              [totalCount]="totalCount"
              [pageSize]="this.reservationParams.pageSize"
              [pageNumber]="this.reservationParams.pageNumber"
        ></app-paging-header>

        <div class="table-wrapper">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Vehicle</th>
                        <th>year</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Days</th>
                        <th>RentalCost</th>
                        <th>Insurance</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody  *ngFor="let reservation of reservations">
                    <tr *ngIf="reservation.vehicle && reservation.customer && reservation.insurance">
                        <td>{{ reservation.id }}</td>
                        <td>{{ reservation.customer.customerName }}</td>
                        <td>{{ reservation.vehicle.vehicleName }}</td>
                        <td>{{ reservation.vehicle.year }}</td>
                        <td>{{ reservation.startDate | date}}</td>
                        <td>{{ reservation.endDate | date}}</td>
                        <td>{{ reservation.days }}</td>
                        <td>{{ reservation.rentalCost }}</td>
                        <td>{{ reservation.insurance.insuranceName }}</td>
                        <td><button [routerLink]="['edit-reservation', reservation.id]">Edit</button></td>
                        <td><button (click)="deleteReservation(reservation.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
            <app-pager
              [pageSize]="reservationParams.pageSize"
              [pageNumber]="reservationParams.pageNumber"
              [totalCount]="totalCount"
              (pageChanged)="onPageChanged($event)"
            ></app-pager>
        </div>

    </div>

</section>