// .back {
//   margin-left: 20px;
// }

// i {
//   font-size: 35px;
//   color: #303D50;
//   cursor: pointer;
//   transition: 0.5s;

//   &:hover {
//     color: #6985af;
//     padding: 5px;
//   }
// }

// .section {
//   display: flex;
//   justify-content: center;
// }

// .vehicle-details {
//   max-width: 1000px;
//   display: flex;
//   align-items: center;
//   padding: 50px;
//   border: 1px solid #ddd;
//   border-radius: 8px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   background-color: #fff;
//   margin: 20px;

//   .info-section {
//     margin-right: 30px;

//     .info {
//       display: flex;

//       .titles {
//         width: 200px;
//       }
//     }

//     h2 {
//       font-size: 28px;
//       margin-bottom: 10px;
//     }

//     p {
//       margin: 5px 0;

//       strong {
//         margin-right: 60px;
//       }
//     }

//     .action-buttons {
//       margin-top: 20px;

//       button {
//         margin-right: 10px;
//       }
//     }
//   }



//   .image-section {

//     ngx-gallery {
//       width: 100%;
//       border: 1px solid #ddd;
//       border-radius: 8px;
//       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//       background-color: #fff;
//       padding: 30px;
//     }
//   }

//   @media (max-width: 1070px) {
//     flex-direction: column;


//     .image-section,
//     .info-section {
//       max-width: 100%;
//       margin-top: 40px;
//     }

//     .image-section {
//       display: flex;
//       justify-content: center;

//       ngx-gallery {
//         width: 80%;
//       }
//     }
//   }
// }

// <!-- Nuevo UI -->

.section {
    margin-top: 30px;
    // padding: 0 250px 0 250px;
    display: flex;
    justify-content: center;

    .content {
        width: 1000px;

        .header {
            // background-color: aliceblue;
        }

        .car-description {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            gap: 70px;

            .about {
                max-width: 550px;
                // padding: 100px;

                hr {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }

            .reservation {
                margin-top: 30px;

                .create {
                    padding: 20px;
                    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);

                    .description {
                        font-size: 14px;
                    }

                    button {
                        padding: 5px;
                        border: none;
                        background-color: #230086;
                        color: #ffffff;

                        &:hover {
                            background-color: #1a0060;
                        }
                    }
                }

            }

        }
    }

}