section {
    margin: 50px;

    .content {
        display: grid;
        justify-content: center;

        .card {
            max-width: 1000px;
        }

        mat-card-header {
            margin-bottom: 20px;
        }
    }
}