<div class="container">
    <!-- <app-breadcrumbs></app-breadcrumbs> -->
    <div class="header">
        <div class="title">
            <h1>List of Game</h1>
        </div>
        <div class="bread">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <hr>

        <div class="filters">
            <div class="search">
                <label>Search</label>
                <input type="text" (keyup.enter)="onSearch()" placeholder="Search" #search>
            </div>
            <div class="selects">
                <div class="sort">
                    <label>Sort</label>
                    <label for="slct" class="select">
                        <select id="slct" required="required" (change)="onSortSelected($event)">
                            <option *ngFor="let sort of sortOption" [value]="sort.value">
                                {{sort.name}}
                            </option>
                        </select>
                        <svg>
                            <use xlink:href="#select-arrow-down" />
                        </svg>
                    </label>
                    <svg class="sprites">
                        <symbol id="seelct-arrow-down" viewbox="0 0 10 6">
                            <polyline points="1 1 5 5 9 1"></polyline>
                        </symbol>
                    </svg>
                </div>
            </div>
        </div>
        <hr>

    </div>
    <div class="card">
        <div class="body" *ngFor="let vehicle of vehicles">
            <app-vehicle-item [vehicle]="vehicle"></app-vehicle-item>
        </div>
    </div>
</div>