section {
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 5px;

    .content {
        display: flex;
        justify-content: space-between;

        h2 {
            margin-left: 8px;
            font-size: 25px;
        }
    
        button {
            font-weight: 400;
            border: none;
            border-radius: 5px;
            padding: 5px 12px;
            margin-left: 10px;
            border: 1px solid #959595;
    
            &.new-brand {
                background-color: #ffffff;
    
                &:hover {
                    background-color: #DA5B00;
                    color: #ffffff;
                    border: none;
                }
            }
        }
    }

   

    .table-wrapper {
        margin-top: 10px;
        overflow-x: auto;

        table {
            border-collapse: separate;
            border-spacing: 0;
            min-width: max-content;

            thead th {
                position: sticky;
                font-weight: 500;
            }

            tbody {
                tr {
                    background-color: #f3f3f3;
                    cursor: pointer;
                    height: 50px;

                    img {
                        width: 60px;
                        height: 40px;
                        object-fit: contain;
                    }
                }

                td {
                    font-weight: 400;
                    overflow: hidden;
                    vertical-align: middle;

                    &.available {
                        color: #008000;
                    }

                    &.rented {
                        color: #FF0000;
                    }

                    &.reserved {
                        color: #FFD700;
                    }

                    button {
                        background-color: #fff;
                        border: 1px solid #959595;
                        border-radius: 8px;
                        font-weight: 400;

                        &.edit:hover {
                            background-color: #4480df;
                            color: #ffffff;
                            border: none;
                        }

                        &.delete:hover {
                            background-color: #e42e2e;
                            color: #ffffff;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}