.form-row {
    margin-top: 30px;
    .boxes {
        display: flex;
        gap: 50px;
    }

    .section-3 {
        // display: flex;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // max-width: 500px;
        gap: 5px;
        margin-top: 30px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;
        }

        @media (max-width: 990px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
        }

        @media (max-width: 780px) {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }
}

input {
    width: 15em;
    margin-top: 3px;
    margin-bottom: 10px;
}

select {
    width: 15em;
    margin-top: 3px;
    margin-bottom: 10px;
}

.button {
    margin-top: 30px;
    background-color: #5bc964;
    border: none;
    padding: 8px 30px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: #55b45d;
    }
}