section {
    display: flex;
    justify-content: center;
    margin: 20px;
}

mat-card {
    width: 900px;
}

mat-card-header {
    font-size: 25px;
    margin-bottom: 10px;
}

mat-tab {
    margin: 100px;
}