section {
    display: flex;
    justify-content: center;
    margin: 20px;
}

mat-card {
    // width: 1000px;
}

mat-card-header {
    font-size: 25px;
    margin-bottom: 10px;
}

mat-tab-group {
    width: 100vh;
}


.section {
    display: flex;
    margin-bottom: 20px;
}