<!-- <div class="content">
    <div class="cards" *ngFor="let reservation of reservations" routerLink="/reservations/{{reservation.id}}">
        <div class="box customer">
            <h2>Customer Information</h2>
            <div>
                <div class="header">
                    <h3>{{ reservation.customer }}</h3>
                </div>
            </div>
        </div>

        <div class="box reservation">
            <h2>Reservation Information</h2>
            <div>
                <div class="header">
                    <h3>{{reservation.vehicle}}</h3>
                </div>
                <div class="body">
                    <div class="info">
                        <p>Reservation Number</p>
                        <p>Insurance</p>
                        <p>Start Date</p>
                        <p>End Date</p>
                        <p>Days</p>
                    </div>
                    <div class="data">
                        <p>{{reservation.reservationNumber}}</p>
                        <p>{{reservation.insurance}}</p>
                        <p>{{ reservation.startDate | date }}</p>
                        <p>{{ reservation.endDate | date }}</p>
                        <p>{{ reservation.days }} days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Nuevo UI -->