<div class="container">
    <div class="content">
        <div class="drop">
            <div class="custom-dropzone" ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>
                    <i class="fa fa-upload fa-4x"></i>
                    <h5>Drop image here</h5>
                </ngx-dropzone-label>
            </div>
        </div>
    </div>
    <div class="content" *ngIf="files.length > 0">
        <div class="preview">
            <h5>Preview & Upload</h5>
            <img [src]="croppedImage" class="img-fluid"  width="600" height="250">
            <button class="btn-block btn-primary" (click)="onUpload()">Upload Image</button>
        </div>
    </div>
</div>
