i {
    color: rgb(17, 255, 17);
}

header {
    padding: 70px;
    padding-top: 50px;
    background-color: #2B2745;
    color: #ffffff;
    display: flex;
    // gap: 70px;
    justify-content: space-between;

    .title-content {
        .title {

            h1 {
                font-size: 55px;
                margin-bottom: -20px;
            }

            span {
                font-size: 80px;
                font-family: "Righteous", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
        }

        .adds {
            margin-top: 20px;
            display: flex;
            gap: 100px;

            p {
                font-size: 35px;
            }
        }

        .description {
            margin-top: 20px;
            width: 700px;

            p {
                font-size: 30px;
            }
        }
    }


    .img {
        // display: flex;

        .box {
            width: 800px;
            height: 700px;
            background-color: #DA5B00;
            border-top-left-radius: 100px;
            border-bottom-right-radius: 100px;
        }

        .img {
            z-index: 20;
            position: absolute;
            top: 180px;

            img {
                width: 900px;
                height: 600px;
            }
        }
        .reback {
            z-index: 10;
            position: absolute;
            top: 332px;
            right: 370px;
        }
    }
}