<div class="content">
    <header>
        <div class="title-content">
            <div class="title">
                <h1>Car rental in</h1>
                <span>Queens, New York</span>
            </div>
            <div class="adds">
                <p><i class="bi bi-check-circle-fill"></i> No credit card</p>
                <p><i class="bi bi-check-circle-fill"></i> Free cancellation</p>
            </div>
            <div class="description">
                <p>
                    Descubre el placer de la carretera con nuestro servicio
                    de alquiler de autos. Tu viaje, tu elección, tu libertad.
                    Alquila con nosotros y convierte cada trayecto en una
                    experiencia inolvidable.
                </p>
            </div>
        </div>
        <div class="img">
            <div class="box"></div>
            <div class="img">
                <img src="./assets/images/jeep.png" alt="">
            </div>
            <img class="reback" src="./assets/images/reback.png" alt="">
        </div>
    </header>

    <div class="title">
        <div class="veh">
            <span>Choose your vehicle</span>
            <div class="bar"></div>
        </div>
        <h1>Pick Your Vehicle</h1>

    </div>

    <div class="cards">
        <div class="body" *ngFor="let vehicle of vehicles.slice(0, 6)">
            <app-vehicle-item [vehicle]="vehicle"></app-vehicle-item>
        </div>
    </div>


    <div class="action">
        <p>More...</p>
    </div>

</div>