<section class="section">
  <mat-card class="card" *ngIf="reservation">
    <mat-card-header>
      <p>
        Your reservation has been successfully registered and is currently under
        review. We will inform you when it is confirmed.
      </p>
      <p>
        You can modify yout reservation in
        <a [routerLink]="'/account'">My Reservations</a>
      </p>
    </mat-card-header>
    <mat-card-content>
      <div class="code">
        <p>
          <mat-icon fontIcon="check_circle"></mat-icon>
          Reservation Code
        </p>
        <span>{{ reservation.reservationNumber }}</span>
      </div>
      <div class="date">
        <p>
          Pickup Date <span>{{ reservation.startDate | date }}</span>
        </p>
        <p>
          Return Date <span>{{ reservation.endDate | date }}</span>
        </p>
      </div>
      <div class="adv">
        <strong>Remember to take a screenshot of your reservation!</strong>
      </div>
    </mat-card-content>
  </mat-card>
</section>
