<header class="d-flex flex-row align-items-center justify-content-between border-bottom shadow-sm">
    <img src="/assets/images/elipson.png" alt="logo" class="logo" style="width: 80px; margin-left: 20px;" routerLink="/">
  
    <nav class=" nav" [ngClass]="{'menu-open': isMenuOpen}">
      <a class="p-2" routerLink="vehicles" routerLinkActive="active" (click)="closeMenu()">Vehicles</a>
      <a class="p-2" routerLink="/about-us" routerLinkActive="active" (click)="closeMenu()">About Us</a>
      <a class="p-2" routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a>
    </nav>
  
    <ng-container *ngIf="currentUser$ | async as user">
      <div class="dropdown me-8" style="cursor: pointer;" dropdown>
        <a dropdownToggle class="dropdown-toggle">
          <strong>Welcome {{user.userName}}</strong>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li class="py-1">
            <a (click)="accountService.logout()" class="dropdown-item">Log Out</a>
            <a routerLink="/account" class="dropdown-item">Settings</a>
            <a *ngIf="(isAdmin$ | async)" routerLink="/dashboard" class="dropdown-item">Management</a>
          </li>
        </ul>
      </div>
    </ng-container>
  
    <ng-container *ngIf="(accountService.currentUser$ | async) == null">
      <div class="d-flex align-items-center">
        <a routerLink="/account/login" class="me-4">Log In</a>
        <a routerLink="/account/register" class="me-2">Sign Up</a>
      </div>
    </ng-container>
    <button class="menu-toggle" (click)="toggleMenu()">
        <span [ngClass]="{'open': isMenuOpen}"></span>
        <span [ngClass]="{'open': isMenuOpen}"></span>
        <span [ngClass]="{'open': isMenuOpen}"></span>
    </button>

</header>
  