<section>
    <div class="content">
        <h2>Estados</h2>
        <button class="new-status" (click)="openAddStatusPopup()">Agregar Estado</button>
    </div>

    <div class="table-wrapper">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre del Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let status of statuses">
                    <td>{{ status.id }}</td>
                    <td>{{ status.statusName }}</td>
                    <td>
                        <button class="edit" (click)="editStatus(status.id)">Editar</button>
                        <button class="delete" (click)="deleteStatus(status.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-status-form 
        [showPopup]="showAddStatusPopup" 
        [initialValues]="editStatusFormValues"
        (save)="saveStatus($event)" 
        (cancel)="cancelAddStatusPopup()">
    </app-status-form>
</section>
