<section>
    <mat-card>
        <mat-card-header>
            Vehicle Management
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Fuels"><app-fuel /></mat-tab>
                <mat-tab label="Insurance"><app-insurance /></mat-tab>
                <!-- <mat-tab label="Status"><app-status /></mat-tab> -->
                <mat-tab label="Vehicles Type"><app-vehicle-type /></mat-tab>
                <mat-tab label="Brand"><app-brand /></mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</section>