<section class="content">
    <app-breadcrumb></app-breadcrumb>
    <div class="content-cover">
        <div class="title">
            <h1>Vehicles</h1>
            <div class="actions">
                <button [routerLink]="['/admin-vehicle/create']" class="new-vehicle">New Vehicles</button>
            </div>
        </div>
        <div class="filters">
            <div class="filter">
                <div class="search">
                    <label>Search</label>
                    <input type="text" (keyup.enter)="onSearch()" placeholder="Search" #search>
                </div>
            </div>

            <div class="sort">
                <div class="select">
                    <label>Sort</label>
                    <select id="slct" required (change)="onSortSelected($event)">
                        <option *ngFor="let sort of sortOption" [value]="sort.value">{{sort.name}}</option>
                    </select>
                </div>
                <div class="actions">
                    <button (click)="togglePopup()" class="filter bi bi-filter">Filter</button>
                </div>
            </div>
        </div>

        <app-paging-header [totalCount]="totalCount" [pageSize]="vehicleParams.pageSize"
            [pageNumber]="vehicleParams.pageNumber"></app-paging-header>

        <div class="table-wrapper">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Vehicle</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Rental Price</th>
                        <th>Vehicle Type</th>
                        <th>Fuel</th>
                        <th>Status</th>
                        <th>Vin</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @for (vehicle of vehicles; track $index) {
                        <tr [routerLink]="'/vehicles/' + vehicle.id">
                            <td>
                                <img [src]="vehicle.pictureUrl || '/assets/images/placeholder.png'"
                                    [alt]="vehicle.vehicleName" class="img-fluid" style="max-height: 50px">
                            </td>
                            <td>{{ vehicle.brand }}</td>
                            <td>{{ vehicle.model }}</td>
                            <td>{{ vehicle.year }}</td>
                            <td>{{ vehicle.rentalPrice | currency }}</td>
                            <td>{{ vehicle.vehicleType }}</td>
                            <td>{{ vehicle.fuel }}</td>
                            <td [class]="getStatusClass(vehicle.status)">{{ vehicle.status }}</td>
                            <td>{{ vehicle.vin }}</td>
                            <td><button class="edit" [routerLink]="['edit', vehicle.id]">Edit</button></td>
                            <td><button class="delete" (click)="deleteVehicle(vehicle.id)">Delete</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
            <app-pager [pageSize]="vehicleParams.pageSize" [pageNumber]="vehicleParams.pageNumber"
                [totalCount]="totalCount" (pageChanged)="onPageChanged($event)"></app-pager>
        </div>
    </div>
</section>


<div *ngIf="showPopup" class="popup-overlay" (click)="closePopup()">
    <div class="popup-content" (click)="stopPropagation($event)">
        <div class="box">
            <h5 class="">Brands</h5>
            <ul class="">
                <li *ngFor="let brand of brands" [class.active]="brand.id === selectedBrandId"
                    (click)="onBrandSelected(brand.id)">
                    {{ brand.brandName }}
                </li>
            </ul>
        </div>

        <div class="box">
            <h5 class="">Models</h5>
            <ul class="">
                <li *ngFor="let model of modelsToShow" (click)="onModelSelected(model.id)" [class.active]="model.id === selectedModelId">
                    {{ model.modelName }}
                </li>
                <li *ngIf="!showAllModels" class="load-more">
                    <button (click)="showAllModels = true">Show More....</button>
                </li>
            </ul>
        </div>
        

        <div class="box">
            <h5 class="">Fuels</h5>
            <ul class="">
                <li class="" *ngFor="let fuel of fuels" (click)="onFuelSelected(fuel.id)" [class.active]="fuel.id === selectedFuelId">
                    {{ fuel.fuelName }}
                </li>
            </ul>
        </div>

        <div class="box">
            <h5 class="">Statuses</h5>
            <ul class="">
                <li class="" *ngFor="let status of statuses" (click)="onStatusSelected(status.id)" [class.active]="status.id === selectedStatusId">
                    {{ status.statusName }}
                </li>
            </ul>
        </div>

        <div class="box">
            <h5 class="">Vehicles Type</h5>
            <ul class="">
                <li class="" *ngFor="let vehicleType of vehiclesType" (click)="onVehicleTypeSelected(vehicleType.id)" [class.active]="vehicleType.id === selectedVehicleTypeId">
                    {{ vehicleType.vehicleTypeName }}
                </li>
            </ul>
        </div>
    </div>
</div>