<section>
    <div class="content">
        <h2>Combustibles</h2>
        <button class="new-vehicle" (click)="openAddFuelPopup()">Agregar Combustible</button>
    </div>

    <div class="table-wrapper">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fuel Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fuel of fuels">
                    <td>{{ fuel.id }}</td>
                    <td>{{ fuel.fuelName }}</td>
                    <td>
                        <!-- <button class="edit" (click)="editFuel(fuel.id)">Edit</button> -->
                        <button class="delete" (click)="deleteFuel(fuel.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-fuel-form 
        [showPopup]="showAddFuelPopup" 
        (save)="saveFuel($event)" 
        (cancel)="cancelAddFuelPopup()">
    </app-fuel-form>
</section>
