<div *ngIf="showPopup" class="popup-overlay" (click)="closePopup()">
    <div class="popup-content" (click)="stopPropagation($event)">
        <div class="box">
            <h5 class="">Nombre del Estado</h5>
            <input type="text" [(ngModel)]="statusFormValues.statusName" placeholder="Nombre del Estado">
        </div>
        <div class="box" style="display: flex; gap: 5px;">
            <button class="save" (click)="saveStatus()">Guardar</button>
            <button class="cancel" (click)="closePopup()">Cancelar</button>
        </div>
    </div>
</div>